@model IEnumerable<GeocacheApp2.Models.Geocache>
<div class="jumbotron">
    <h1>Geocaches</h1>
    <p class="lead">Geocaching is a real-world, outdoor treasure hunting game using GPS-enabled devices. Participants navigate to a specific set of GPS coordinates and then attempt to find the geocache (container) hidden at that location. (From www.geocaching.com/guide)</p>
    <p><a href="https://www.geocaching.com/guide/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
